<p id="notice"><%= notice %></p>

<h1>Plants</h1>

<table class="table">
  <thead class = "thead-dark">
    <tr>
      <th>Name</th>
      <th>Kingdom</th>
      <th>Total watering volume</th>
      <th>Total watering times</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td><%= plant.name %></td>
        <td><%= plant.kingdom %></td>
        <td><%= plant.total_volume %></td>
        <td><%= plant.total_quantity %></td>
        <td><%= link_to 'Show', plant %></td>
        <td><%= link_to 'Edit', edit_plant_path(plant) %></td>
        <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plant', new_plant_path %>
